.services{
    min-height: 50vh;
    margin: auto;
    max-width: 1000px;
    padding-top: 100px;
  }

.services-title{
    font-family: "NTR", sans-serif;
    font-style: normal;
    color: c;
    font-size: 80px;
  }

  .services-subtitle{
    margin-left: 10px;
    font-family: "NTR", sans-serif;
    font-size: 34px;
    color:  #d2c3ff;
    font-weight: bold;
  }
  
  .services-info{
    margin-left: 10px;
    font-family: "NTR", sans-serif;
    font-size: 20px;
    color: #dad1f7;
  }

  .service-box{
    border-radius: 10px;
    border: 1px solid #d2c3ff;
    background: #4f4679;
  }

  .service-box:hover {
    transform: scale(1.02);
    transition: ease-in 0.2s;
}